<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <h1>LES ETONNANTS PROFESSEURS DU WAGON</h1>
    <h2>Et leur drôle de façon de s'exprimer</h2>
  </div>
</div>

<!-- Your cards code -->
<div class="wrapper-grey padded cards">
  <div class="container">
    <div class="row">
      <% data.flats.each do |owner, flat| %>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-category"><%= flat.city %></div>
            <div class="card-description">
              <h2><%= flat.name %></h2>
              <p><%= flat.summary %></p>
            </div>
            <div class="card-center">
              <%= image_tag flat.owner_picture, class: "card-center avatar-very-extra-large" %>
            </div>
            <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
            <!--  <a class="card-link" href="#" ></a> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
